@import url('https://fonts.googleapis.com/css?family=Shrikhand');

$primary: green;
$secondary: pink;
$grey: grey;
$white: white;
$shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$font-roboto: "Roboto", sans-serif;
$dark-grey-bg: #353535;
$gradient-purple: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);

body {
  padding: 0px;
  margin: 0px;
}

@mixin text-center {
  text-align: center;
}

@mixin text-left {
  text-align: left;
}

@mixin box-shadow {
  box-shadow: $shadow;
}

@mixin btn-styles($background-color, $color) {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  padding: 15px;
  border: none;
  background: $background-color;
  color: $color;
}

@mixin card-styles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #F8F9FA;
  border-radius: 10px;
  @include box-shadow;
  padding: 20px;
  margin-bottom: 20px;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: $font-roboto;
}

.restaurants-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
}

.restaurants {
  background-color: #F8F9FA;
}

.restaurant-name-container {
  display: flex;
  align-items: center; /* Centre verticalement le texte et le cœur */
  gap: 10px; /* Espace entre le texte et le cœur */
}


.restaurant-name {
  font-family: Shrikhand;
  font-size: 30px;
  font-weight: 400;
  line-height: 40.82px;
  text-align: left;
  margin-right: 10px; /* Espace entre le texte et le cœur */
}


.like-restaurant-container {
  display: flex;
  align-items: center; /* Aligne verticalement les icônes du cœur */
  justify-content: center; /* Centre horizontalement les icônes du cœur */
  width: 24px; /* Largeur du conteneur du cœur */
  height: 24px; /* Hauteur du conteneur du cœur */
  cursor: pointer; /* Ajoute un curseur de pointeur pour le clic */
}

.heart-icon {
  width: 24px; /* Largeur des icônes du cœur */
  height: 24px; /* Hauteur des icônes du cœur */
}

.white-heart {
  z-index: 2; /* au-dessus */
}

.purple-heart {
  z-index: 1; /* en-dessous */
}

.text {
  font-family: $font-roboto !important;
  font-weight: 400;
  font-style: normal;
  text-align: center;

  &-gap {
    gap: 20px;
    margin-left: 30px;
  }

  &-bold {
    font-weight: bold;
  }

  &-white {
    color: white;
  }

  &-leftAligned {
    @include text-left;
  }

  &-margin {
    margin-left: 20px;
    margin-right: 20px;
  }

  &-padding {
    padding-left: 50px;
    padding-right: 50px;
  }

  &-rightAligned {
    text-align: right;
  }

  &-center {
    text-align: center;
    display: flex;
    align-items: center;
  }
}

.white-logo{
  color: white;
  padding-bottom: 10px;
}

.text-left {
  @include text-left;

}

.top-border-radius {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

nav {
  width: 100%;
  background-color: white;
  height: 63px;
  display: flex;
  align-items: center;
  position: relative;
  @include box-shadow;
  padding-top: 10px;
}

.nav-content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Ajustez la largeur maximale si nécessaire */
  margin: 0 auto; /* Centre le conteneur horizontalement */
  position: relative; /* Pour permettre à la flèche de se positionner absolument */
}

.icon-goback {
  position: absolute;
  left: 20px; /* Ajustez la distance depuis le bord gauche */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Assurez-vous que la flèche est au-dessus de tout autre contenu */
}

nav img {
  display: block; /* Assurez-vous que l'image n'a pas d'espacement indésirable */
  width: 200px;
  margin: 0 auto; /* Centre le logo horizontalement dans le conteneur */
}


  img {
    text-align: center;
    width: 200px;
  }

.bg-image {
  width: 100%;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  @include box-shadow;
  height: 50px;
  gap: 17px;
  margin-top: 5px;
  margin-bottom: 5px;

}

.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-round {
  border-radius: 50px;
}

.btn-color {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.degrade-color {
  color: $gradient-purple;
  border: none;
}

.align-item-left {
  align-items: end;
}

.card-menu {
  border-radius: 10px;
  // padding-left: 10px;
  // padding-right: 10px;
  background-color: #F8F9FA;
  // border-top-left-radius: 10px;
  // border-top-right-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;

  h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
  }

  p {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .plate-photo {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    height: 180px;
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;
  }

  .plate-text-like {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.plate-text{
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.label-new {
    font-family: $font-roboto;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color:#99E2D0;
    color: #008766;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    z-index: 10;
  }
}

.btn-wide {
  width: 235px;
}

.fonctionnement-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F8F9FA;
  border-radius: 10px;
  @include box-shadow;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 0px 30px;
}



.plate-card {
  display: flex;
  width: 349px;
  height: 69px;
  // align-items: center;
  justify-content: center;
  background-color: #F8F9FA;
  border-radius: 15.04px;
  @include box-shadow;
  margin-bottom: 10px;
  margin-right: 20px;
}

.fonctionnement-content {
  display: flex;
  flex-direction: row;
  align-items: center;
padding-left: 10px;
}

.number {
  position: absolute;
  font-family: $font-roboto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  left: -12px;
  // margin-left: -359px;
}

.picto {
  display: flex;
  position: absolute;
  width:12px;
  left: 30px;
}

.fonctionnement-card-text-1 {
  font-family: $font-roboto;
  font-weight: bold;
  text-align: left;
  margin-left: 12px; /* Ajuste cette valeur selon tes besoins */
}

.fonctionnement-card-text-2 {
  font-family: $font-roboto;
  font-weight: bold;
  text-align: left;
  margin-left: -3px; /* Ajuste cette valeur selon tes besoins */
}

.fonctionnement-card-text-3 {
  font-family: $font-roboto;
  font-weight: bold;
  text-align: left;
  margin-left: 5px; /* Ajuste cette valeur selon tes besoins */
}

.like-container {
  position: relative;
  width: 24px;
  height: 24px;
  position: relative;
  width: 24px; /* largeur de l'icône */
  height: 24px; /* hauteur de l'icône */
}
.hidden {
  display: none;
}

.like-container .white-heart {
  z-index: 2; /* au-dessus */
}

.like-container .purple-heart {
  z-index: 1; /* en-dessous */
}

.footer-bg {
  display: flex;
  background-color: $dark-grey-bg;
  width: 100%;
  height: 63px;
  align-items: flex-start;
}

.test {
  margin-left: 20px;
}

.footer-bg {
  background-color: $dark-grey-bg;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  padding-left: 20px;
  color: $white;
  text-align: left !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-bg p,
.footer-bg img,
.footer-bg i {
  margin: 0;
}

.footer-bg img {
  width: 150px;
}

.footer-bg i {
  font-size: 18px;
}

.icon-plus-text {
  display:flex;
  flex-direction: row;
  gap: 10px;
}

.footer-text {
padding-left: 20px;
}

// Pages restaurants

// .restaurant-header {
//   display: flex;
//   justify-content: space-between;
// }

.general-container {
  background-color: #F6F6F6;
  padding: 30px;
}

.entree-plat-dessert {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-title-menu-section {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  text-align: left;  
}

.soustexteAndPrice {
  display : flex;
  flex-direction: row;
  justify-content: space-between;
}

.line-2 {
  width: 40px;
height: 0px;
top: 27px;
gap: 0px;
border: 3px 0px 0px 0px;
opacity: 0px;
border: 3px solid #99E2D0
}

